*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: green;
}
.logo{
    color: blue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style:none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}
@media screen and (max-width: 600px){
    .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      justify-content: center;
  }
}
@media screen and (max-width: 500px){
    .nav-links{
         width: 60%;
    }
}
body{
    background-color: antiquewhite;
}

